<header class="main-header padding-block-sm">
  <div class="container wide">
    <div class="header-wrapper">
      <a href="index.html"><img src="/images/logo.png" alt="Baby Bliss logo" class="logo" /></a>
      <nav class="main-nav">
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="about-me.html">About me</a></li>
          <li class="nav-item"><a class="nav-link" href="workshops.html">Workshops</a></li>
          <li class="nav-item"><a class="nav-link" href="favorite-products.html">My faves</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <a class="btn btn-accent-primary" href="workshops.html#pricing-wrapper">Start sleeping well</a>

      <button popovertarget="mobile-nav" class="mobile-nav-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="mobile-nav-icon"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
      <nav popover class="mobile-nav" id="mobile-nav">
        <button popovertarget="mobile-nav" class="mobile-nav-btn mobile-nav-btn--close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="mobile-nav-icon"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="about-me.html">About me</a></li>
          <li class="nav-item"><a class="nav-link" href="workshops.html">Workshops</a></li>
          <li class="nav-item"><a class="nav-link" href="favorite-products.html">My faves</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
