.scroll-top {
  padding: var(--spacing-150);
  background-color: rgba(64, 90, 109, 0.9);
  position: fixed;
  bottom: var(--spacing-300);
  right: var(--spacing-300);
  z-index: 9999;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  display: none;
  opacity: 0;
  transform: translateX(calc(100% + var(--spacing-300)));
  transition-property: display opacity transform;
  transition-duration: 0.3s;
  transition-behavior: allow-discrete;
}

.scroll-top-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--clr-neutral-100);
}

.scroll-top-visible {
  display: inline-block;
  opacity: 1;
  transform: translateX(0);

  @starting-style {
    opacity: 0;
    transform: translateX(calc(100% + var(--spacing-300)));
  }
}
