.stage-card:link,
.stage-card:visited {
  text-decoration: none;
  height: 32.5rem;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);

  line-height: 1;

  padding-inline: var(--spacing-600);
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.2s;
}

.stage-card:hover,
.stage-card:focus-visible {
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.4rem);
}

.stage-card:active {
  box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.stage-card .heading-3 {
  position: relative;
}

.stage-card--1 {
  background-image: radial-gradient(circle at left bottom, rgba(64, 90, 109, 0.45) 50%, rgba(64, 90, 109, 0) 100%),
    url(/images/sneakers-1x.jpg);
}

@media (min-resolution: 192dpi) and (min-width: 14em), (min-width: 28em) {
  .stage-card--1 {
    background-image: radial-gradient(circle at left bottom, rgba(64, 90, 109, 0.45) 50%, rgba(64, 90, 109, 0) 100%),
      url(/images/sneakers-2x.jpg);
  }
}

.stage-card--2 {
  /* background-image: linear-gradient(rgba(236, 183, 179, 0.65), rgba(236, 183, 179, 0.65)),
  url(/images/baby-sleeping.jpg); */

  background-image: radial-gradient(circle at left bottom, rgba(236, 183, 179, 0.45) 50%, rgba(236, 183, 179, 0) 100%),
    url(/images/baby-sleeping-grayscale-1x.jpg);
}

@media (min-resolution: 192dpi) and (min-width: 14em), (min-width: 28em) {
  .stage-card--2 {
    background-image: radial-gradient(circle at left bottom, rgba(236, 183, 179, 0.45) 50%, rgba(236, 183, 179, 0) 100%),
      url(/images/baby-sleeping-grayscale-2x.jpg);
  }
}

.stage-card--3 {
  /* background-image: linear-gradient(rgba(64, 90, 109, 0.65), rgba(64, 90, 109, 0.65)), url(/images/baby-standing.jpg); */
  background-image: radial-gradient(circle at left bottom, rgba(164, 187, 172, 0.45) 50%, rgba(164, 187, 172, 0) 100%),
    url(/images/baby-standing-grayscale-1x.jpg);
}

@media (min-resolution: 192dpi) and (min-width: 14em), (min-width: 28em) {
  .stage-card--3 {
    background-image: radial-gradient(circle at left bottom, rgba(164, 187, 172, 0.45) 50%, rgba(164, 187, 172, 0) 100%),
      url(/images/baby-standing-grayscale-2x.jpg);
  }
}

.stage-card span {
  display: inline-block;
  padding-left: 2px;
  font-size: var(--fs-300);
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
