/* BUTTON */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: var(--fs-400);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: var(--border-radius);
  padding: var(--spacing-250) var(--spacing-400);
  font-weight: var(--fw-semibold);
  line-height: 1;

  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);

  display: inline-flex;
  align-items: center;
  gap: var(--spacing-100);

  transition: all 0.2s;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--clr-accent-primary-400);
  color: var(--clr-primary-500);
}

.btn-primary-monochrome,
.btn-primary-monochrome:link,
.btn-primary-monochrome:visited {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

.btn-primary-monochrome:hover,
.btn-primary-monochrome:focus-visible {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-700);
}

.btn-accent-primary,
.btn-accent-primary:link,
.btn-accent-primary:visited {
  background-color: var(--clr-accent-primary-400);
  color: var(--clr-primary-500);
}

.btn-accent-primary:hover,
.btn-accent-primary:focus-visible {
  background-color: var(--clr-primary-400);
  color: var(--clr-accent-primary-200);
}

.btn-accent-primary-monochrome,
.btn-accent-primary-monochrome:link,
.btn-accent-primary-monochrome:visited {
  background-color: var(--clr-accent-primary-700);
  color: var(--clr-neutral-100);
}

.btn-accent-primary-monochrome:hover,
.btn-accent-primary-monochrome:focus-visible {
  background-color: var(--clr-accent-primary-400);
  color: var(--clr-accent-primary-900);
}

.btn-accent-secondary-monochrome,
.btn-accent-secondary-monochrome:link,
.btn-accent-secondary-monochrome:visited {
  background-color: var(--clr-accent-secondary-700);
  color: var(--clr-neutral-100);
}

.btn-accent-secondary-monochrome:hover,
.btn-accent-secondary-monochrome:focus-visible {
  background-color: var(--clr-accent-secondary-200);
  color: var(--clr-accent-secondary-900);
}

.icon-btn {
  width: var(--spacing-300);
  height: var(--spacing-300);
  display: inline-block;
}
