.link-email:link,
.link-email:visited {
  text-decoration: none;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.link-to-form:link,
.link-to-form:visited {
  text-decoration: underline;
}
