.link-email:link,
.link-email:visited {
  text-decoration: none;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.link-virtual:link,
.link-virtual:visited {
  text-decoration: underline;
}
