.link-email:link,
.link-email:visited {
  text-decoration: none;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.link-underline:link,
.link-underline:visited {
  text-decoration: underline;
}
