/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Line heights
Medium: 1.2
Paragraph default: 1.5

- Letter spacing


--- 02 COLORS


#ecb7b3;
?
#f5f5f5
#e0dad1


- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS


--- 06 BORDER-RADIUS

Default: 8px
Medium:

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --clr-primary-100: hsl(205, 26%, 98%);
  --clr-primary-200: hsl(205, 26%, 87%);
  --clr-primary-400: #405a6d;
  --clr-primary-500: hsl(205, 26%, 27%);
  --clr-primary-700: #1c2830;

  /* --clr-accent-primary-200: hsl(15, 58%, 95%); */
  /* --clr-accent-primary-300: hsl(15, 58%, 92%); */
  --clr-accent-primary-400: hsl(15, 58%, 90%);
  --clr-accent-primary-500: hsl(15, 58%, 60%);
  --clr-accent-primary-700: hsl(15, 58%, 35%);
  --clr-accent-primary-900: hsl(15, 58%, 15%);

  --clr-accent-secondary-200: hsl(141, 14%, 85%);
  --clr-accent-secondary-400: hsl(141, 14%, 69%);
  --clr-accent-secondary-700: #587462;
  --clr-accent-secondary-900: hsl(141, 14%, 15%);

  --clr-accent-highlight-100: #fdf8f7;
  --clr-accent-highlight-200: hsl(4, 60%, 87%);
  --clr-accent-highlight-400: #ecb7b3;
  --clr-accent-highlight-600: #d4a5a1;
  --clr-accent-highlight-650: hsl(5, 37%, 68%);
  --clr-accent-highlight-700: #bf7a73;
  --clr-accent-highlight-800: hsl(5, 37%, 50%);
  --clr-accent-highlight-900: hsl(5, 37%, 25%);

  --clr-accent-highlight-2-400: #e0dad1;

  --clr-alert: #f03e3e;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #f7f7f7;
  --clr-neutral-400: #54595f;
  --clr-neutral-700: #333;

  /* font family */
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Playfair Display', serif;
  --ff-decorative: 'Great Vibes', serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  /* weights */
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-slight-bold: 500;
  --fw-bold: 700;

  /* font sizes */
  --fs-100: 1.2rem;
  --fs-200: 1.4rem;
  --fs-300: 1.6rem;
  --fs-350: 1.8rem;
  --fs-400: 2rem;
  --fs-500: 2.4rem;
  --fs-550: 3rem;
  --fs-600: 3.6rem;
  --fs-700: 4.4rem;
  --fs-750: 5.2rem;
  --fs-800: 6.2rem;
  --fs-850: 7.6rem;
  --fs-900: 9.8rem;

  --fs-nav-link: var(--fs-300);

  /* spacing system */
  --spacing-50: 0.4rem;
  --spacing-100: 0.8rem;
  --spacing-150: 1.2rem;
  --spacing-200: 1.6rem;
  --spacing-250: 2rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4.8rem;
  --spacing-550: 5.6rem;
  --spacing-600: 6.4rem;
  --spacing-700: 8rem;
  --spacing-800: 9.6rem;
  --spacing-900: 12.8rem;
  --spacing-1000: 16rem;

  --padding-block-sm: var(--spacing-200);
  --padding-block-md: var(--spacing-500);
  --padding-block-lg: var(--spacing-800);
  --padding-block-xlg: var(--spacing-900);

  --mb-reg: var(--spacing-300);
  --mb-md: var(--spacing-500);
  --mb-lg: var(--spacing-700);
  --mb-xlg: var(--spacing-800);

  /* MISC */
  --border-radius: 0.6rem;
  --border-radius-lg: 1.2rem;

  /* MOBILE */
  --component-width-constrain: 75%;
  --component-width-constrain-narrow: 50%;
}

@media (max-width: 75em) {
  :root {
    --spacing-50: 0.2rem;
    --spacing-100: 0.4rem;
    --spacing-150: 0.8rem;
    --spacing-200: 1.2rem;
    --spacing-250: 1.6rem;
    --spacing-300: 2rem;
    --spacing-400: 2.4rem;
    --spacing-500: 3.2rem;
    --spacing-550: 4rem;
    --spacing-600: 4.8rem;
    --spacing-700: 6.4rem;
    --spacing-800: 8rem;
    --spacing-900: 9.6rem;
    --spacing-1000: 12.8rem;
  }
}

@media (max-width: 46em) {
  :root {
    --component-width-constrain-narrow: 65%;
  }
}

@media (max-width: 37.5em) {
  :root {
    --component-width-constrain: 100%;
  }
}

@media (max-width: 27.5em) {
  :root {
    --component-width-constrain-narrow: 100%;
  }
}
