/* 1648 px */

@media (max-width: 103em) {
  .hero-heading {
    font-size: 18rem;
    margin-bottom: var(--spacing-600);
  }

  .hero-subheading {
    font-size: var(--fs-700);
    margin-bottom: var(--spacing-800);
  }
}

/* 1440 px */
@media (max-width: 90em) {
  .section-hero {
    padding-top: var(--spacing-500);
  }

  .hero-heading {
    font-size: 15rem;
  }

  .hero-subheading {
    font-size: 4rem;
  }

  .heading-primary {
    font-size: 20rem;
  }

  .heading-naava {
    font-size: 5.95rem;
  }

  .swiper-button-prev-unique {
    transform: translate(-50%, -50%);
  }

  .swiper-button-prev-unique:hover {
    transform: translate(-50%, -50%);
  }

  .swiper-button-next-unique {
    transform: translate(50%, -50%);
  }

  .swiper-button-next-unique:hover {
    transform: translate(50%, -50%);
  }

  .contact-container {
    gap: var(--spacing-700);
  }

  .form-contact {
    padding-left: var(--spacing-500);
  }
}

/* 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    gap: var(--spacing-700);
  }

  .grid-wide {
    gap: var(--spacing-900);
  }

  .logo {
    width: 11rem;
  }

  .main-nav {
    margin-right: auto;
    /* margin-left: var(--spacing-700); */
  }

  .nav-list {
    gap: var(--spacing-500);
  }

  .section-hero {
    height: calc(100svh - 10.64rem);
  }

  .hero-heading {
    font-size: 13rem;
    margin-bottom: var(--spacing-800);
  }

  .hero-subheading {
    font-size: var(--fs-600);
    margin-bottom: var(--spacing-900);
  }

  .heading-primary {
    font-size: 18rem;
  }

  .footer {
    padding-top: var(--spacing-800);
    padding-bottom: var(--spacing-400);
  }

  */ .heading-naava {
    font-size: var(--fs-750);
  }

  .container-about .col-1 {
    padding-left: var(--spacing-100);
  }

  .class-wrapper {
    grid-template-columns: 1fr;
    row-gap: var(--spacing-600);
    width: min(70ch, 100%);
    margin-inline: auto;
  }

  .class-img {
    margin-inline: auto;
  }

  .class-wrapper:nth-child(even) > img {
    order: 1;
  }

  .classes-faq-question {
    margin-bottom: var(--spacing-600);
  }

  .classes-faq-question::after {
    bottom: -1.6rem;
    width: 10rem;
  }

  .gift-wrapper {
    max-height: none;
    margin-bottom: 0;
  }

  .gift-img:hover {
    transform: translateY(0);
  }
}

/* 945px */
@media (max-width: 59em) {
  /* MOBILE NAV */

  .header-wrapper {
    justify-content: space-between;
  }

  .mobile-nav-btn {
    display: block;
    z-index: 99999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    margin-left: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.5s ease-in;

    /* display: none; */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-600);
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: var(--fs-500);
    font-weight: var(--fw-semibold);
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    transform: translateX(0);
  }

  .nav-open .mobile-nav-icon-open {
    display: none;
  }

  .nav-open .mobile-nav-icon-close {
    display: block;
  }

  .header-wrapper .btn:link,
  .header-wrapper .btn:visited {
    display: none;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .section-hero {
    height: calc(80svh - 10.64rem);
    padding-inline: 1rem;
  }

  .hero-heading {
    font-size: 13rem;
    margin-bottom: var(--spacing-800);
  }

  .hero-subheading {
    font-size: var(--fs-600);
    margin-bottom: var(--spacing-900);
  }

  .heading-primary {
    padding-bottom: var(--spacing-700);
    font-size: 14rem;
  }

  .heading-secondary {
    font-size: var(--fs-600);
    line-height: 1.15;
  }

  .choose {
    font-size: var(--fs-400);
    margin-bottom: var(--spacing-700);
  }

  .stage-card:link,
  .stage-card:visited {
    height: 32.5rem;
    width: var(--component-width-constrain-narrow);
    margin-inline: auto;
  }

  .why-columns {
    grid-template-columns: 1fr;
  }

  .btn-about {
    margin-bottom: 0;
  }

  .main-profile {
    max-width: var(--component-width-constrain);
    margin-inline: auto;
    margin-bottom: var(--spacing-800);
  }

  .highlight-box {
    width: var(--component-width-constrain);
    margin-inline: auto;
  }

  .container-about {
    width: min(70ch, 100% - (var(--padding) * 2)) !important;
    margin-bottom: var(--spacing-200);
    gap: var(--spacing-700);
  }

  .container-about .col-1 {
    padding-left: 0;
  }

  .container-about .col-2 {
    order: -1;
  }

  .img-naava-about {
    margin-inline: auto;
    max-width: var(--component-width-constrain);
  }

  .testimonial-box {
    max-width: var(--component-width-constrain);
    margin-inline: auto;
  }

  .accordion-lg {
    --_button-size: var(--fs-500);
    --_title-size: var(--fs-550);
  }

  .accordion-lg .accordion-icon {
    right: 8rem;
  }

  .recommended {
    width: var(--component-width-constrain);
    margin-inline: auto;
  }

  .classes-faq-question::after {
    width: 6rem;
  }

  .product-card {
    max-width: var(--component-width-constrain);
    grid-template-columns: 1fr;
    gap: 0;
  }

  .product-content {
    padding: var(--spacing-600);
  }

  .product-img {
    height: 36rem;
  }

  .grid-product-pick {
    gap: var(--spacing-800);
  }

  .product-pick {
    gap: var(--spacing-600);
    max-width: var(--component-width-constrain);
    margin-inline: auto;
  }

  .contact-container {
    grid-template-columns: 1fr;
    gap: var(--spacing-800);
  }

  .form-contact {
    max-width: var(--component-width-constrain);
    margin-inline: auto;
    padding-left: 0;
  }

  .contact-info-wrapper {
    width: var(--component-width-constrain);
    margin-inline: auto;
  }
}

/* 736px */
@media (max-width: 46em) {
  .section-hero {
    height: calc(75svh - 10.64rem);
  }

  .hero-heading {
    font-size: 12rem;
    margin-bottom: var(--spacing-600);
  }

  .hero-subheading {
    font-size: 3rem;
    margin-bottom: var(--spacing-700);
  }

  .heading-primary {
    padding-bottom: var(--spacing-700);
    font-size: 11rem;
  }

  .accordion-lg {
    --_button-size: var(--fs-400);
    --_title-size: var(--fs-500);
  }

  .accordion-lg .accordion-icon {
    right: 6rem;
  }

  .pricing-wrapper--narrow {
    gap: var(--spacing-600);
  }

  .gift-wrapper {
    max-width: var(--component-width-constrain);
  }
}

/* 600px */
@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }

  .section-hero {
    height: calc(65svh - 10.64rem);
    padding-inline: 2rem;
  }

  .hero-heading {
    font-size: 11rem;
  }

  .hero-subheading {
    font-size: var(--fs-500);
  }

  .accordion {
    --_panel-padding: var(--spacing-200);
  }

  .pricing-wrapper {
    --max-width: 100%;
  }

  .pricing-wrapper--narrow {
    grid-template-columns: 1fr;
    gap: var(--spacing-700);
  }

  .pricing-wrapper--narrow .pricing {
    width: 70%;
    margin-inline: auto;
  }

  .pricing-inner {
    padding-block: var(--spacing-500);
    padding-inline: var(--spacing-500);
    gap: var(--spacing-400);
  }

  .pricing-price {
    font-size: var(--fs-700);
  }

  .pricing-main {
    gap: var(--spacing-400);
  }

  .footer-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-contact-box {
    grid-column: 3;
  }
}

/* 440 px */
@media (max-width: 27.5em) {
  .section-hero {
    padding-inline: 2rem;
  }

  .hero-heading {
    font-size: 9rem;
    margin-bottom: var(--spacing-400);
  }

  .hero-subheading {
    font-size: var(--fs-400);
    line-height: 1.4;
    margin-bottom: var(--spacing-500);
  }

  .heading-primary {
    font-size: 9rem;
  }

  .heading-secondary {
    font-size: var(--fs-550);
  }

  .heading-3 {
    font-size: var(--fs-550);
  }

  .footer {
    padding-top: var(--spacing-700);
  }

  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--spacing-600);
    padding-left: var(--spacing-400);
    margin-bottom: var(--spacing-400);
  }

  .footer-nav {
    grid-row: 1;
    grid-column: 1;
  }

  .footer-contact-box {
    grid-row: 1;
    grid-column: 2;
  }

  .footer-wrapper a:link {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-naava {
    font-size: 5rem;
  }

  .accordion-lg {
    --_button-size: var(--fs-300);
    --_title-size: var(--fs-400);
  }

  .accordion-lg .accordion-icon {
    right: 50%;
    transform: translateX(50%);
    bottom: var(--spacing-500);
  }

  .class-text p:nth-child(2 of .class-subheading) {
    /* text-align: center; */
    margin-bottom: var(--spacing-250);
  }

  .class-details {
    margin-inline: auto;
    max-width: 80%;
    grid-template-columns: 1fr;
  }

  .grid-product-pick {
    gap: var(--spacing-1000);
  }

  .product-pick {
    grid-template-columns: 1fr;
    gap: var(--spacing-600);
  }

  .product-pick-content {
    max-width: 90%;
    margin-inline: auto;
    gap: var(--spacing-400);
  }

  .product-pick-img {
    order: -1;
    max-width: 50%;
    margin-inline: auto;
  }
}

/* 352px */
@media (max-width: 22em) {
  .footer-wrapper {
    padding-left: var(--spacing-500);
    margin-bottom: var(--spacing-600);
  }

  .heading-primary {
    font-size: var(--fs-850);
  }

  .footer-nav {
    grid-row: 2;
  }

  .footer-contact-box {
    grid-column: 1 / -1;
  }

  .footer-wrapper a:link {
    grid-column: 2;
    justify-self: stretch;
  }

  .heading-naava {
    font-size: var(--fs-700);
  }

  .class-details {
    /* margin-inline: auto; */
    max-width: 100%;
  }

  .pricing-wrapper--narrow .pricing {
    width: 80%;
  }

  .grid-product-pick {
    gap: var(--spacing-900);
  }

  .product-pick {
    gap: var(--spacing-500);
  }

  .product-pick-content {
    max-width: 100%;
    margin-inline: auto;
  }

  .product-pick-img {
    max-width: 60%;
  }
}
