/* UTILITY CLASSES */

/* text colors */

.text-primary-100 {
  color: var(--clr-primary-100) !important;
}

.text-primary-200 {
  color: var(--clr-primary-200) !important;
}

.text-primary-400 {
  color: var(--clr-primary-400) !important;
}

.text-primary-500 {
  color: var(--clr-primary-500) !important;
}

.text-primary-700 {
  color: var(--clr-primary-700) !important;
}

.text-accent-primary-300 {
  color: var(--clr-accent-primary-300) !important;
}

.text-accent-primary-400 {
  color: var(--clr-accent-primary-400) !important;
}

.text-accent-secondary-400 {
  color: var(--clr-accent-secondary-400) !important;
}

.text-accent-highlight-400 {
  color: var(--clr-accent-highlight-400) !important;
}

.text-accent-highlight-500 {
  color: var(--clr-accent-highlight-500) !important;
}

.text-accent-highlight-2-400 {
  color: var(--clr-accent-highlight-2-400) !important;
}

.text-neutral-100 {
  color: var(--clr-neutral-100) !important;
}

.text-neutral-200 {
  color: var(--clr-neutral-200) !important;
}

.text-neutral-700 {
  color: var(--clr-neutral-700) !important;
}

.text-primary-100 {
  color: var(--clr-primary-100) !important;
}

/* background colors */

.bg-primary-100 {
  background-color: var(--clr-primary-100) !important;
}

.bg-primary-200 {
  background-color: var(--clr-primary-200) !important;
}

.bg-primary-400 {
  background-color: var(--clr-primary-400) !important;
}

.bg-accent-primary-300 {
  background-color: var(--clr-accent-primary-300) !important;
}

.bg-accent-primary-400 {
  background-color: var(--clr-accent-primary-400) !important;
}

.bg-accent-secondary-400 {
  background-color: var(--clr-accent-secondary-400) !important;
}

.bg-accent-highlight-400 {
  background-color: var(--clr-accent-highlight-400) !important;
}

.bg-accent-highlight-500 {
  background-color: var(--clr-accent-highlight-500) !important;
}

.bg-accent-highlight-2-400 {
  background-color: var(--clr-accent-highlight-2-400) !important;
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100) !important;
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200) !important;
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700) !important;
}

.fw-regular {
  font-weight: var(--fw-regular) !important;
}

.fw-slight-bold {
  font-weight: var(--fw-slight-bold) !important;
}

.fw-semibold {
  font-weight: var(--fw-semibold) !important;
}

.fw-bold {
  font-weight: var(--fw-bold) !important;
}

.padding-block-sm {
  padding-block: var(--padding-block-sm) !important;
}

.padding-block-md {
  padding-block: var(--padding-block-md) !important;
}

.padding-block-lg {
  padding-block: var(--padding-block-lg) !important;
}

.padding-block-xlg {
  padding-block: var(--padding-block-xlg) !important;
}

.pt-400 {
  padding-top: var(--spacing-400);
}

.pb-800 {
  padding-bottom: var(--spacing-800);
}

.mb-1 {
  margin-bottom: var(--spacing-100) !important;
}

.mb-2 {
  margin-bottom: var(--spacing-200) !important;
}

.mb-3 {
  margin-bottom: var(--spacing-300) !important;
}

.mb-4 {
  margin-bottom: var(--spacing-400) !important;
}

.mb-5 {
  margin-bottom: var(--spacing-500) !important;
}

.mb-6 {
  margin-bottom: var(--spacing-600) !important;
}

.mb-7 {
  margin-bottom: var(--spacing-700) !important;
}

.mb-8 {
  margin-bottom: var(--spacing-800) !important;
}

.mb-9 {
  margin-bottom: var(--spacing-900) !important;
}

.mb-10 {
  margin-bottom: var(--spacing-1000) !important;
}

.text-center {
  text-align: center !important;
}

.relative {
  position: relative !important;
}

.no-scroll {
  overflow-y: hidden !important;
}

/* layout utility */

.center {
  margin-inline: auto;
}

.container {
  --max-width: 128rem;
  --padding: var(--spacing-400);

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.wide {
  --max-width: 140rem;
}

.narrow {
  --max-width: 108rem;
}

.text-container {
  width: min(70ch, 100%);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: var(--spacing-800);
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--6-cols {
  grid-template-columns: repeat(6, 1fr);
}

.grid-wide {
  gap: var(--spacing-900);
}

.grid-narrow {
  /* display: grid; */
  gap: var(--spacing-500);
}

.grid-align-center {
  align-items: center;
}

.grid-row-gap-lg {
  row-gap: var(--spacing-900);
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}
