/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing


--- 02 COLORS


#ecb7b3;
?
#f5f5f5
#e0dad1


- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS


--- 06 BORDER-RADIUS

Default: 8px
Medium:

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --clr-primary-400: #405a6d;

  --clr-accent-primary-300: #f7e7e2;
  --clr-accent-primary-400: #f4ddd5;

  --clr-accent-secondary-400: #a4bbac;
  --clr-accent-highlight-400: #ecb7b3;

  --clr-neutral-100: #fff;
  --clr-neutral-700: #333;

  /* font family */
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Playfair Display', serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  /* weights */
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* font sizes */
  --fs-100: 1.2rem;
  --fs-200: 1.4rem;
  --fs-300: 1.6rem;
  --fs-400: 1.8rem;
  --fs-500: 2.4rem;
  --fs-600: 3.6rem;
  --fs-700: 4.4rem;
  --fs-800: 6.2rem;
  --fs-900: 8.6rem;

  /* spacing system */
  --spacing-50: 0.4rem;
  --spacing-100: 0.8rem;
  --spacing-150: 1.2rem;
  --spacing-200: 1.6rem;
  --spacing-250: 2rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4.8rem;
  --spacing-600: 6.4rem;
  --spacing-700: 8rem;
  --spacing-800: 9.6rem;
  --spacing-900: 12.8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* @media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

html,
body {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* UTILITY CLASSES */
.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accent-primary-300 {
  color: var(--clr-accent-primary-300);
}

.text-accent-primary-400 {
  color: var(--clr-accent-primary-400);
}

.text-accent-secondary-400 {
  color: var(--clr-accent-secondary-400);
}

.text-accent-highlight-400 {
  color: var(--clr-accent-highlight-400);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-700 {
  color: var(--clr-neutral-700);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accent-primary-300 {
  background-color: var(--clr-accent-primary-300);
}

.bg-accent-primary-400 {
  background-color: var(--clr-accent-primary-400);
}

.bg-accent-secondary-400 {
  background-color: var(--clr-accent-secondary-400);
}

.bg-accent-highlight-400 {
  background-color: var(--clr-accent-highlight-400);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.padding-block-600 {
  padding-block: var(--spacing-600);
}

.mb-300 {
  margin-bottom: var(--spacing-300);
}

/* layout utility */

.container {
  --max-width: 120rem;
  --padding: var(--spacing-300);

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.wide {
  --max-width: 144rem;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-600);
}

/* STYLING */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-700);
}

/* HEADER */

.main-header {
  padding-block: var(--spacing-300);
}

.header-box {
  display: flex;
  align-items: center;
}

.logo-link:link {
  margin-right: var(--spacing-900);
}

.logo {
  width: 16rem;
}

.main-nav {
  margin-right: auto;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: var(--spacing-600);
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--clr-primary-400);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  line-height: 1;

  transition: all 0.2s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--clr-accent-highlight-400);
}

.nav-link.current {
  color: var(--clr-accent-highlight-400);
}

/* BUTTON */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: var(--spacing-100);
  padding: var(--spacing-250) var(--spacing-400);
  font-weight: var(--fw-semibold);
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  line-height: 1;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--clr-accent-primary-400);
  color: var(--clr-primary-400);
}

.btn-accent-primary,
.btn-accent-primary:link,
.btn-accent-primary:visited {
  background-color: var(--clr-accent-primary-400);
  color: var(--clr-primary-400);

  transition: all 0.2s;
}

.btn-accent-primary:hover,
.btn-accent-primary:focus-visible {
  background-color: var(--clr-primary-400);
  color: var(--clr-accent-primary-300);
}

.btn-text {
  line-height: 1;
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.icon-btn {
  width: var(--spacing-300);
  height: var(--spacing-300);
  display: inline-block;
}

/* HERO SECTION */

.section-hero {
  height: calc(100vh - 16.8rem);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/hero.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  place-items: center;
}

.hero-text-box {
  text-align: center;
}

/* TYPOGRAPHY */

.heading-primary {
  font-size: var(--fs-900);
  font-family: var(--ff-heading);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-regular);
  line-height: 1.2;
  letter-spacing: 1.4px;
  margin-bottom: var(--spacing-500);
}

.subheading {
  font-size: 4.4rem;
  font-weight: var(--fw-regular);
  letter-spacing: 1px;
  font-family: var(--ff-heading);
  color: var(--clr-neutral-100);
  line-height: 1.2;
  margin-bottom: 8rem;
}

.heading-secondary {
  font-family: var(--ff-heading);
  font-size: var(--fs-700);
  font-weight: var(--fw-regular);
}

/* CARD */

.card {
  height: 32.5rem;
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-100);
}

.card--1 {
  background-image: url(/images/sneakers.jpg);
}

.card--2 {
  background-image: url(/images/baby-sleeping.jpg);
}

.card--3 {
  background-image: url(/images/baby-standing.jpg);
}
