/* STYLING */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-neutral-700);
}

/* HEADER */

.main-header {
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 13rem;
}

.main-nav {
  margin-right: auto;
  margin-left: var(--spacing-900);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: var(--spacing-600);
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--clr-primary-400);
  font-size: var(--fs-nav-link);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  line-height: 1;

  transition: all 0.2s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--clr-accent-highlight-400);
}

.nav-link.current {
  color: var(--clr-accent-highlight-400);
}

/* BUTTON */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: var(--spacing-100);
  padding: var(--spacing-250) var(--spacing-400);
  font-weight: var(--fw-semibold);
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  line-height: 1;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--clr-accent-primary-400);
  color: var(--clr-primary-400);
}

.btn-accent-primary,
.btn-accent-primary:link,
.btn-accent-primary:visited {
  background-color: var(--clr-accent-primary-400);
  color: var(--clr-primary-400);

  transition: all 0.2s;
}

.btn-accent-primary:hover,
.btn-accent-primary:focus-visible {
  background-color: var(--clr-primary-400);
  color: var(--clr-accent-primary-300);
}

.btn-text {
  line-height: 1;
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.icon-btn {
  width: var(--spacing-300);
  height: var(--spacing-300);
  display: inline-block;
}

/* HERO SECTION */

.section-hero {
  height: calc(100svh - 12.9rem);
  background: linear-gradient(to top, rgba(34, 34, 34, 0.4), rgba(34, 34, 34, 0.4)), url(/images/hero.jpg);
  background-size: cover;
  background-position: center 82%;

  display: grid;
  place-items: center;
}

.hero-wrapper {
  text-align: center;
}

/* STAGES SECTION */

.section-stages h2 {
  line-height: 1;
  margin-bottom: 1.6rem;
}

.choose {
  font-size: 2.2rem;
}

.card:link,
.card:visited {
  text-decoration: none;
  height: 32.5rem;
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-100);

  line-height: 1;

  padding-inline: var(--spacing-600);
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.card:hover,
.card:focus-visible {
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.4rem);
}

.card:active {
  box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.card .heading-3 {
  position: relative;
}

.card--1 {
  background-image: linear-gradient(rgba(64, 90, 109, 0.65), rgba(64, 90, 109, 0.65)), url(/images/sneakers.jpg);
}

.card--2 {
  background-image: linear-gradient(rgba(236, 183, 179, 0.65), rgba(236, 183, 179, 0.65)),
    url(/images/baby-sleeping.jpg);
}

.card--3 {
  background-image: linear-gradient(rgba(64, 90, 109, 0.65), rgba(64, 90, 109, 0.65)), url(/images/baby-standing.jpg);
}

.card span {
  display: inline-block;
  padding-left: 2px;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1.6rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
