/* UTILITY CLASSES */
.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-primary-500 {
  color: var(--clr-primary-500);
}

.text-primary-700 {
  color: var(--clr-primary-700);
}

.text-accent-primary-300 {
  color: var(--clr-accent-primary-300);
}

.text-accent-primary-400 {
  color: var(--clr-accent-primary-400);
}

.text-accent-secondary-400 {
  color: var(--clr-accent-secondary-400);
}

.text-accent-highlight-400 {
  color: var(--clr-accent-highlight-400);
}

.text-accent-highlight-2-400 {
  color: var(--clr-accent-highlight-2-400);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.text-neutral-700 {
  color: var(--clr-neutral-700);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accent-primary-300 {
  background-color: var(--clr-accent-primary-300);
}

.bg-accent-primary-400 {
  background-color: var(--clr-accent-primary-400);
}

.bg-accent-secondary-400 {
  background-color: var(--clr-accent-secondary-400);
}

.bg-accent-highlight-400 {
  background-color: var(--clr-accent-highlight-400);
}

.bg-accent-highlight-2-400 {
  background-color: var(--clr-accent-highlight-2-400);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-slight-bold {
  font-weight: var(--fw-slight-bold);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.padding-block-sm {
  padding-block: var(--padding-block-sm);
}

.padding-block-md {
  padding-block: var(--padding-block-md);
}

.padding-block-lg {
  padding-block: var(--padding-block-lg);
}

.mb-1 {
  margin-bottom: var(--spacing-100);
}

.mb-2 {
  margin-bottom: var(--spacing-200);
}

.mb-3 {
  margin-bottom: var(--spacing-300);
}

.mb-4 {
  margin-bottom: var(--spacing-400);
}

.mb-5 {
  margin-bottom: var(--spacing-500);
}

.mb-6 {
  margin-bottom: var(--spacing-600);
}

.mb-7 {
  margin-bottom: var(--spacing-700);
}

.mb-8 {
  margin-bottom: var(--spacing-800);
}

.text-center {
  text-align: center;
}

/* layout utility */

.container {
  --max-width: 128rem;
  --padding: var(--spacing-300);

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.wide {
  --max-width: 140rem;
}

.grid {
  display: grid;
  gap: var(--spacing-800);
}

.grid-narrow {
  display: grid;
  gap: var(--spacing-500);
}

.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.relative {
  position: relative;
}
